# -----------------------------
# Environment Files
# -----------------------------
**/.env
!**/.env.example

# -----------------------------
# Terraform
# -----------------------------
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

terraform.tfvars
*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# -----------------------------
# Certificates & Secrets
# -----------------------------
*.pem
*.key
*.crt

# -----------------------------
# Node
# -----------------------------
node_modules/

# -----------------------------
# Helm
# -----------------------------
*.tgz

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Editors
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# OS
# -----------------------------
.DS_Store

# -----------------------------
# Backup Files
# -----------------------------
*.bak